@media screen and (max-width: 1200px) {
  .container {
    max-width: 95%;
    overflow: hidden;
  }
}
@media screen and (max-width: 1200px) {
  .mt_100{
    margin-top: 32px;
  }
}

/*Header*/
@media screen and (min-width: 960px) {
  .header {
    padding: 24px 5%;
    background: rgba(255, 255, 255, 0.8);
  }

  .header_wrap {
    padding: 0;
    justify-content: flex-start;
  }

  .header_btn {
    display: none;
  }

  .header_logo {
    width: 155px;
    height: 46px;
  }

  .header_nav {
    width: 420px;
    height: auto;
    padding-top: 0;
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    background: transparent;
  }

  .nav_list {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }

  .nav_list li {
    margin-bottom: 0;
    width: 91px;
  }

  .header_user {
    margin-left: auto;
    margin-right: 4%;
  }

  .header-btn {
    display: block;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 15px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #111111;
  }

  .header_user img{
    width: 32px;
  }

  .header_auth {
    margin-top: 35px;
    margin-left: -40px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 11%;
  }
}