@media screen and (max-width: 1200px) {
  .container {
    max-width: 95%;
    overflow: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .mt_100 {
    margin-top: 32px;
  }
}

/*Медиа-запросы Header*/

@media screen and (min-width: 960px) {
  .header {
    padding: 24px 5%;
    background: rgba(255, 255, 255, 0.8);
  }

  .header_wrap {
    padding: 0;
    justify-content: flex-start;
  }

  .header_btn {
    display: none;
  }

  .header_logo {
    width: 155px;
    height: 46px;
  }

  .header_nav {
    width: 420px;
    height: auto;
    padding-top: 0;
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    background: transparent;
  }

  .nav_list {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    text-decoration: none;
  }

  .nav_list li {
    margin-bottom: 0;
    width: 91px;
  }

  .header_user {
    margin-left: auto;
    margin-right: 4%;
  }

  .header-btn {
    display: block;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 15px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #111111;
  }

  .header_user img {
    width: 32px;
  }

  .header_auth {
    margin-top: 35px;
    margin-left: -40px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 11%;
  }
}



/*Медиа-запросы Footer*/
@media screen and (max-width: 1000px) {
  .center-footer {
    width: 250px;
    grid-template-columns: 240px;
    margin: auto;
  }

  .center-footer ul {
    margin-bottom: 0;
  }

  .footer-documents {
    padding-top: 10px;
    grid-column-gap: 10px;
    grid-template-rows: 30px;
  }

  .footer__menu {
    margin: 50px 0;
  }
}

@media screen and (max-width: 700px) {
  footer {
    padding: 20px 0;
  }

  .footer {
    display: grid;
  }

  .footer p {
    padding-top: 32px;
    width: 310px;
  }

  .footer__menu {
    display: grid;
    padding: 0;
    margin: 0;
    line-height: 16px;
  }

  .footer__menu ul {
    padding-left: 0;
  }

  .footer__menu .page_item {
    padding-left: 0;
  }

  .center-footer {
    margin: 0;
    gap: 16px;
  }

  .center-footer ul {
    order: 1;
    padding-left: 0;
    margin-top: 0;
  }

  .center-footer ul li {
    padding: 5px 0;
    list-style-type: none;
  }

  .soc_networks {
    justify-content: space-evenly;
    padding-top: 16px;
    width: 300px;
    margin: auto;
  }

  .footer-documents {
    grid-template-rows: 24px;
    padding: 5px 0;
  }
}

/*Main*/

@media screen and (min-width: 660px) {
  .intro {
    padding: 0 34px;
  }

  .intro_link-wrap > a {
    width: 396px;
  }

  .bg_item_3 {
    bottom: 8%;
    left: -45vw;
    animation-name: bg_item_3;
  }

  .bg_item_4 {
    bottom: 10%;
    left: 35vw;
    animation-name: bg_item_4;
  }

  @keyframes bg_item_3 {
    0% {
      bottom: 8%;
      left: -45vw;
    }
    33% {
      bottom: 7.6%;
      left: 60vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: 7%;
      left: -60vw;
      transform: rotate(45deg);
    }
    100% {
      bottom: 8%;
      left: -45vw;
    }
  }

  @keyframes bg_item_4 {
    0% {
      bottom: 10%;
      left: 35vw;
    }
    33% {
      bottom: 10.3%;
      left: -35vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: 11.3%;
      left: 5vw;
      transform: rotate(20deg);
    }
    100% {
      bottom: 10%;
      left: 35vw;
    }
  }
}


@media screen and (min-width: 960px) {
  @keyframes drop {
    0% {
      max-height: 0;
      opacity: 0;
    }
    50% {
      opacity: 0.5;
      max-height: 50%;
    }

    100% {
      max-height: max-content;
      opacity: 1;
    }
  }

  .intro {
    padding: 144px 0;
    margin-bottom: 54px;
  }

  .banner_main_width {
    width: 950px;
    margin: auto;
  }

  .intro_wrap {
    padding-top: 0;
    margin-bottom: 0;
  }

  .intro_wrap::before {
    top: -144px;
    right: -14.5%;
    left: auto;
    min-width: 336px;
    min-height: 468px;
    background-image: url("../images/intro.png");
  }

  /*Здравству , это Нежно*/
  .intro_title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    font-size: 64px;
    line-height: 74px;
  }

  .intro_title > span {
    width: 100%;
    display: block;
    font-size: 47px;
    line-height: 54px;
    order: 1;
  }

  .intro_title::after {
    display: block;
    content: "";
    margin-left: 25px;
    height: 2.5px;
    width: 18%;
    background: #111111;
    border-radius: 2px;
    z-index: 2;
  }

  .intro_subtitle {
    max-width: 530px;
    margin: 0;
    margin-bottom: 32px;
    text-align: justify;
    font-size: 14px;
    line-height: 20px;
  }

  .intro_subtitle > span {
    display: inline;
  }

  .intro_anxiety-title {
    text-align: left;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 37px;
  }

  .slider_buttons {
    display: block;
  }

  .intro_link-wrap > a {
    display: inline-block;
    padding: 16px 117px 16px 43px;
    letter-spacing: 0.1em;
    background-position: 90% center;
    white-space: nowrap;
  }

  .subscriptions {
    padding: 0 5%;
    margin: 60px 0;
  }

  .subscriptions p,
  .subscriptions p span {
    font-size: 16px;
  }

  .subscriptions_wrap {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: stretch;
    justify-content: space-between;
    gap: 32px;
  }

  .subscriptions_title {
    /* width: 25%; */
    margin-bottom: 0;
    font-size: 32px;
    line-height: 37px;
  }

  .subscriptions_list {
    margin-bottom: 0;
    /* height: 540px;
    width: 920px; */
  }

  .subscriptions_list .slick-list {
    width: 920px;
    display: flex;
    align-items: center;
  }

  /* .subscriptions_item {
    position: relative;
    padding: 206px 32px 20px 32px;
    background-image: url("../images/logo-vector.svg");
    background-position: 15% 25%;
    width: 272px;
    background-size: 100px;
    border-radius: 45px;
  } */

  .subscriptions_item br {
    display: block;
  }

  .subscriptions_item-title {
    width: 100%;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
  }

  .subscriptions_item button {
    text-align: center;
    padding: 13px 26px;
    background-image: url("../images/white_arrow.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10%;
    opacity: 0.2;
    transition-property: opacity;
    transition-duration: 0.6s;
    transition-delay: 0.2s;
  }

  .subscriptions_item:hover {
    box-shadow: 0 0 20px rgba(141, 154, 206, 0.5);
  }

  .subscriptions_item:hover button {
    opacity: 1;
  }

  .subscriptions_item:hover::before {
    transform: rotate(180deg);
  }

  .subscription_cnt .ta_center {
    margin-top: 0;
  }

  .subscriptions > p {
    text-align: center;
  }

  .subscriptions_price-month {
    display: block;
  }

  .bg_item {
    width: 1000px;
    height: 500px;
  }

  .bg_item_3 {
    bottom: 4%;
    left: -45vw;
    animation-name: bg_item_3;
  }
  .bg_item_4 {
    bottom: 8%;
    left: 35vw;
    animation-name: bg_item_4;
  }

  @keyframes bg_item_3 {
    0% {
      bottom: 4%;
      left: -45vw;
    }
    33% {
      bottom: 3.7%;
      left: 60vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: 3%;
      left: -60vw;
      transform: rotate(45deg);
    }
    100% {
      bottom: 4%;
      left: -45vw;
    }
  }
  @keyframes bg_item_4 {
    0% {
      bottom: 8%;
      left: 35vw;
    }
    33% {
      bottom: 8.3%;
      left: -35vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: 9.3%;
      left: 5vw;
      transform: rotate(20deg);
    }
    100% {
      bottom: 8%;
      left: 35vw;
    }
  }

  /*Slider*/
  .slider_sliders .slick-dots button::before {
    color: rgba(242, 242, 242, 0.3);
  }
}

@media screen and (min-width: 1200px) {
  .intro {
    padding: 144px 0;
  }
  
  .intro_anxiety {
    margin-bottom: 25px;
  }

  /*Slider*/
  .intro_anxiety-slider {
    height: 260px;
  }

  .slider_sliders {
    width: 1100px;
  }

  .slider_sliders .slick-list {
    margin-top: 16px;
    padding-top: 0px;
  }

  .slider_sliders .slick-list .slick-track {
    height: 228px;
  }

  /*Точки уезжают наверх*/
  .slider_sliders .slick-slider .slick-dots {
    top: 200px;
    /* top: -15px; */
  }

  .it_bothers_me_item > span {
    display: inline-flex;
    padding: 16px;
    background: rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0px 1px 15px rgba(17, 17, 17, 0.15));
    border-radius: 100px;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: #111111;
    margin: 14px;
    width: auto;
  }

  .main_cnt {
    padding-bottom: 20px;
  }

  .slider_prev {
    left: -80px;
  }

  .slider_sliders .slick-list {
    width: 100%;
  }

  .slider_next {
    right: -80px;
  }

  .subscriptions {
    padding: 0 134px;
  }
  
  /* .subscriptions_wrap {
    flex-direction: row;
  } */

  /* .subscriptions_title {
    text-align: right;
    top: -40px;
  } */

  /* .subscriptions > p {
    margin-right: 15%;
    text-align: end;
  } */

  /* .subscriptions_list .slick-list {
    width: 920px;
    height: 540px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  } */

  .subscription_cnt .ta_center {
    margin-top: 0;
  }

  .bg_item {
    width: 2000px;
    height: 1000px;
  }

  .bg_item_3 {
    bottom: -14%;
    left: -45vw;
    animation-name: bg_item_3;
  }

  .bg_item_4 {
    bottom: -17%;
    left: 35vw;
    animation-name: bg_item_4;
  }

  @keyframes bg_item_3 {
    0% {
      bottom: -14%;
      left: -45vw;
      transform: rotate(-45deg);
    }
    33% {
      bottom: -13.7%;
      left: 60vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: -13%;
      left: -60vw;
      transform: rotate(45deg);
    }
    100% {
      bottom: -14%;
      left: -45vw;
      transform: rotate(-45deg);
    }
  }

  @keyframes bg_item_4 {
    0% {
      bottom: -17%;
      left: 35vw;
      transform: rotate(-45deg);
    }
    33% {
      bottom: -17.3%;
      left: -35vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: -18%;
      left: 5vw;
      transform: rotate(20deg);
    }
    100% {
      bottom: -17%;
      left: 35vw;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: 960px) {
  .bg_item_3 {
    display: none;
  }
  .bg_item_4 {
    display: none;
  }

  .intro_anxiety-title {
    margin-bottom: 0;
  }

  .it_bothers_me_item > span {
    width: 90%;
  }

  /*Slider*/
  .slick-track {
    width: 100%;
  }

  .slider_sliders .slick-list .slick-track {
    margin-top: 20px;
  }

  .subscriptions_title {
    margin-bottom: 12px;
  }

  .subscriptions_list {
    display: flex;
    justify-content: center;


    width: 100%;
    grid-template-columns: 1fr;
    height: 390px;
    margin-bottom: 0;
  }

  .subscriptions_list .slick-list.draggable {
    width: 100%;
    min-width: 350px;
    max-width: 850px;
  }

  .subscriptions_list .slick-list.draggable {
    padding-top: 20px !important;
  }

  .subscriptions_item.slick-slide {
    height: 350px;
  }

  .subscription_cnt .ta_center {
    margin-top: 0;
  }
}

@media (min-width: 450px) and (max-width: 660px) {
  .it_bothers_me_item > span {
    width: 85%;
  }
}

@media screen and (max-width: 450px) {
  .it_bothers_me_item > span {
    width: 80%;
  }
}