@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --blue: #421dd8;
  --link: #3f3176;

  --main_1: #7264aa;
  --main_2: #bfa4ce;
  --main_3: #efe1f0;
  --main_4: #8d9ace;
  --main_5: #917286;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  scroll-behavior: smooth;
  min-width: 320px;
  overflow-x: hidden;
}
.container {
  max-width: 1184px;
  margin: 0 auto;
  color: var(--black);
}
a {
  text-decoration: none;
}
.basic h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu Condensed", sans-serif;
  text-transform: uppercase;
  line-height: 120%;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 61px;
}
h2 {
  font-size: 49px;
}
h3 {
  font-size: 39px;
}
h4 {
  font-size: 31px;
}
h5 {
  font-size: 25px;
}
h6 {
  font-size: 20px;
}
p {
  margin: 0;
}
.bold_txt {
  font-weight: 600;
}
.white_txt {
  color: var(--white);
}
.mt_100 {
  margin-top: 100px;
}
.ta_center {
  text-align: center;
}
.grid_gap_2em {
  display: grid;
  grid-row-gap: 2em;
}
ul {
  margin: 0;
  padding-left: 20px;
}
.none {
  display: none;
}

/* Buttons */

.blue_btn {
  background-color: #421dd8;
  padding: 16px 32px;
  border-radius: 15px;
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 95%;
    overflow: hidden;
  }
}
@media screen and (max-width: 1200px) {
  .mt_100 {
    margin-top: 32px;
  }
}

/*Header*/
.header {
  /* position: fixed; */
  width: 100%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.95);
  z-index: 11;
  top: 0;
}
.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_wrap,
.header_auth {
  max-width: 1440px;
  padding: 12px 16px;
}
.header_btn {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  z-index: 21;
  background-image: url("../images/menu.svg");
  cursor: pointer;
}
.menu_close {
  background-image: url("../images/close.svg");
}
.header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 106px;
  height: 32px;
  margin-right: 5%;
}
.header_logo img {
  width: 155px;
}
.header_nav {
  width: 50%;
  height: 100vh;
  padding-top: 152px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
}
.header_nav.header_nav-show {
  display: block;
}
.nav_active {
  font-weight: bold;
}
.nav_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}
.nav_list li {
  margin-bottom: 32px;
  padding: 0;
  list-style: none;
}
.nav_list a {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  white-space: nowrap;
  text-decoration: none;
}
.nav_list a.active {
  font-weight: 500;
}
.header-btn {
  display: none;
  text-decoration: none;
}
.header_user img {
  width: 24px;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header_auth {
  margin-top: 20px;
}
.account_navigation-list {
  display: flex;
  padding-left: 0;
}
.account_navigation-list li {
  margin-right: 30px;
  list-style-type: none;
  color: var(--black);

  cursor: pointer;
}
.account_navigation-list li:last-child {
  margin-right: 0;
}
.account_navigation-list li.active {
  font-weight: bold;
}
.account_navigation-list li a {
  color: inherit;
}

/*Медиа-запросы Header*/

@media screen and (min-width: 960px) {
  .header {
    padding: 24px 5%;
    background: rgba(255, 255, 255, 0.8);
  }
  .header_wrap {
    padding: 0;
    justify-content: flex-start;
  }
  .header_btn {
    display: none;
  }
  .header_logo {
    width: 155px;
    height: 46px;
  }
  .header_nav {
    width: 420px;
    height: auto;
    padding-top: 0;
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    background: transparent;
  }
  .nav_list {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    text-decoration: none;
  }
  .nav_list li {
    margin-bottom: 0;
    width: 91px;
  }
  .header_user {
    margin-left: auto;
    margin-right: 4%;
  }
  .header-btn {
    display: block;
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 15px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #111111;
  }
  .header_user img {
    width: 32px;
  }
  .header_auth {
    margin-top: 35px;
    margin-left: -40px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 11%;
  }
}

/*Footer*/
footer {
  background-color: #343639;
  padding: 60px 0;
  font-size: 13px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
}
.footer p {
  text-align: center;
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto;
  color: #f4f4f4;
}
.footer li,
.footer a {
  color: #f4f4f4;
}
.footer__menu li {
  padding-right: 50px;
  list-style-type: none;
  padding: 5px 0;
}
.footer__menu a {
  text-decoration: none;
}
.center-footer {
  display: grid;
  margin: 0 100px;
  grid-template-columns: 240px 240px;
  gap: 80px;
  line-height: 2;
}
.center-footer ul {
  list-style-type: none;
}
.soc_networks a {
  text-decoration: none;
}
.soc_networks {
  align-items: center;
  display: flex;
}
.soc_networks img {
  padding: 15px;
}

.footer-documents {
  display: flex;
  flex-wrap: wrap;
}

.footer-documents a {
  text-decoration: none;
}

/*Медиа-запросы Footer*/
@media screen and (max-width: 1000px) {
  .center-footer {
    width: 250px;
    grid-template-columns: 240px;
    margin: auto;
  }
  .center-footer ul {
    margin-bottom: 0;
  }
  .footer-documents {
    padding-top: 10px;
    grid-column-gap: 10px;
    grid-template-rows: 30px;
  }
  .footer__menu {
    margin: 50px 0;
  }
}
@media screen and (max-width: 700px) {
  footer {
    padding: 20px 0;
  }
  .footer {
    display: grid;
  }
  .footer p {
    padding-top: 32px;
    width: 310px;
  }
  .footer__menu {
    display: grid;
    padding: 0;
    margin: 0;
    line-height: 16px;
  }
  .footer__menu ul {
    padding-left: 0;
  }
  .footer__menu .page_item {
    padding-left: 0;
  }
  .center-footer {
    margin: 0;
    gap: 16px;
  }
  .center-footer ul {
    order: 1;
    padding-left: 0;
    margin-top: 0;
  }
  .center-footer ul li {
    padding: 5px 0;
    list-style-type: none;
  }
  .soc_networks {
    justify-content: space-evenly;
    padding-top: 16px;
    width: 300px;
    margin: auto;
  }
  .footer-documents {
    grid-template-rows: 24px;
    padding: 5px 0;
  }
}

/*Main*/
section {
  position: relative;
}
.main {
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100%;
  overflow: hidden !important;
}
.bg_item {
  width: 500px;
  height: 250px;
}

.bg_item {
  position: absolute;
  animation: cube 12s ease-in forwards infinite;
  transform: rotate(-45deg);
  border-radius: 50%;
  filter: blur(200px);
  animation-duration: 25s;
}
.bg_item_1 {
  top: -50vh;
  left: -45vw;
  background-color: #7264aa;
  animation-name: bg_item_1;
}
.bg_item_2 {
  top: 50vh;
  left: 35vw;
  background-color: #bfa4ce;
  animation-name: bg_item_2;
}
.bg_item_3 {
  background-color: #7264aa;
}
.bg_item_4 {
  background-color: #bfa4ce;
}
.intro {
  margin: 0 auto;
  /* margin-bottom: 48px; */
}
.intro_wrap {
  position: relative;
  padding-top: 300px;
  margin-bottom: 48px;
}
.intro_wrap::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "";
  min-width: 396px;
  max-width: 396px;
  height: 290px;
  background-image: url("../images/intro-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.intro_title {
  text-align: center;
  font-family: "Ubuntu Condensed";
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #111111;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.intro_subtitle {
  max-width: 360px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.intro_subtitle > span {
  display: block;
  cursor: pointer;
}
.it_bothers_me_item .intro_txt_active {
  color: rgb(240, 240, 240);
  background-color: #8d9ace;
  box-shadow: 0 0 25px #8d9ace94;
  transition: 0.2s;
}
.intro_anxiety {
  position: relative;
  margin-bottom: 40px;
}
.intro_anxiety-title {
  margin-bottom: 32px;
  text-align: center;
  font-family: "Ubuntu Condensed";
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #000000;
}
.slider_buttons {
  display: none;
}
.slider_sliders .slick-arrow {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 58%;
  background-color: transparent;
  background-image: url("../images/black_arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  cursor: pointer;
  z-index: 1;
}
.slider_sliders .slick-arrow.slick-prev {
  transform: rotate(180deg);
  top: 46%;
}
.hidden {
  display: none;
}
.slider_sliders {
  width: 1100px;
}
.slider_sliders .slick-list {
  height: 220px;
}
.slider_sliders {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-bottom: 32px;
}
.it_bothers_me_item {
  height: 100%;
}
.it_bothers_me_item > span {
  display: inline-block;
  width: 94%;
  padding: 16px;
  background: rgba(255, 255, 255, 0.25);
  filter: drop-shadow(0px 1px 15px rgba(17, 17, 17, 0.15));
  border-radius: 25px;
  text-align: center;
  line-height: 16px;
  color: #111111;
  margin: 7px 10px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 1px 1px 10px #11111115;
  transition: 0.2s;

  overflow: visible;
}
.it_bothers_me_item > span:first-child {
  margin-top: 10px;
}
.it_bothers_me_item > span:last-child {
  margin-bottom: 10px;
}

.slider_sliders .slick-list {
  height: 100%;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 20px;
}
.slider_sliders .slick-dots {
  bottom: -20px;
}
.slider_sliders .slick-dots li {
  width: 10px;
}
.slider_sliders .slick-dots button::before {
  font-size: 10px;
  color: rgba(141, 154, 206, 0.2);
  opacity: 1;
}
.slider_sliders .slick-dots li.slick-active button::before {
  color: #7264aa;
  opacity: 1;
}
.it_bothers_me_item {
  width: 1075px;
  height: 100%;
  text-align: center;
}
.it_bothers_me_item .i_dont_always_eat {
  margin-left: 0;
}
.it_bothers_me_item .im_constantly_procrastinating {
  margin-right: 0;
}
.main_learn_more {
  font-size: 16px;
}
.slider_toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.slider_toggle > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.slider_toggle > span + span {
  margin-left: 6px;
}
.slider_toggle > span.active {
  background: #7264aa;
}
.intro_link-wrap {
  text-align: center;
  padding-top: 20px;
  margin: 0 16px;
}
.intro_link-wrap > a {
  position: relative;
  padding: 16px 40px 16px 0;
  width: 100%;
  margin: 0 auto;
  display: block;
  background: #421dd8;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-image: none;
  background-size: auto;
  border: 2px solid #421dd8;
  border-radius: 15px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background-image: url("../images/white_arrow.svg");
  background-repeat: no-repeat;
  background-position: 90% center;
}
.subscriptions {
  margin-bottom: 48px;
  margin-top: 48px;
  overflow-x: hidden;
}
.subscriptions_title {
  position: relative;
  margin-bottom: 45px;
  font-family: "Ubuntu Condensed";
  text-align: center;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 36px;
  text-transform: uppercase;
  color: #000000;
}
.subscriptions_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 0;
  margin: auto;
  margin-bottom: 20px;
}
.subscriptions_item {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: 120px 16px 16px 16px;
  background: rgba(255, 255, 255, 0.2);
  border: 2.5px solid #8d9ace;
  border-radius: 25px;
  background-image: url("../images/logo-vector.svg");
  background-repeat: no-repeat;
  background-position: center 32px;
  background-size: 70px;
}
.subscriptions_item br {
  display: none;
}
.subscriptions_item:nth-child(2) {
  background-image: url("../images/logo-vectorBFA4CE.svg");
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.subscriptions_item:last-child {
  background-image: url("../images/logo-vector7264AA.svg");
}
.subscriptions_item-wrap {
  flex: 1;
}
.subscriptions_item-title {
  width: 130px;
  margin: 0 auto;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #111111;
}
.subscriptions_item-info {
  margin-bottom: 34px;
}
.subscriptions_item-duration {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #111111;
}
.subscriptions_item-price {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
}
.subscriptions_item-trial,
.subscriptions_price-month {
  display: block;
  font-size: 13px;
  line-height: 16px;
}
.subscriptions_price-month {
  display: none;
}
.subscriptions_item-trial {
  margin-bottom: 6px;
}
.subscriptions_item button {
  min-width: 100%;
  display: inline-block;
  padding: 16px 15px;
  margin-top: auto;
  background: #7264aa;
  border: 2px solid #7264aa;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.subscriptions > p {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.subscriptions p {
  font-size: 13px;
}
.subscriptions p span {
  font-size: 13px;
  line-height: 16px;
  color: #3f3176;
}

.about {
  margin-bottom: 48px;
  color: #111111;
}
/* .about::before {
  width: 100%;
  height: calc(70vw / 2);
  min-height: 167px;
  display: block;
  content: "";
  background-image: url("../images/photo-mobile.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
} */

.about_wrap {
  position: relative;
  padding: 0 16px;
}
.about__image {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.about__image img {
  width: 100%;
}
.about__image::before {
  position: absolute;
  left: 5%;
  bottom: 3.2%;
  display: block;
  content: "";
  width: 8%;
  height: 6%;
  border-radius: 2px;
  background: #8d9ace;
  transform: rotate(90deg);
  z-index: 1;
}

.about_title {
  font-family: "Ubuntu Condensed";
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 20px 0;
}
.about_description {
  font-size: 13px;
  line-height: 16px;
}
.about_description p {
  margin-top: 20px;
}
.less-more {
  padding: 0 16px;
  margin-bottom: 48px;
  color: #111111;
  text-align: left;
}
.less-more_list {
  padding-left: 0;
}
.less-more_title {
  font-family: "Ubuntu Condensed";
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.less-more_subtitle {
  line-height: 16px;
  margin-bottom: 34px;
  font-size: 13px;
}
.less-more_subtitle p {
  margin-top: 20px;
}
.less-more_subtitle > p > span {
  display: block;
  font-weight: bold;
}
.less-more_item {
  position: relative;
  padding-left: 86px;
  margin-bottom: 34px;
  margin-left: 17px;
  font-size: 14px;
  line-height: 16px;
  color: #111111;
  list-style-type: none;
}
.less-more_item::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  min-width: 64px;
  height: 64px;
  background-image: url("../images/logo_vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.less-more_item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin: 15px 0;
}
.less-more_item > ul > li,
.less-more_item > ul > li > ul > li {
  position: relative;
  margin-bottom: 10px;
}
.less-more_item > ul > li > ul {
  margin-left: -14px;
}
.less-more_item > ul > li > span {
  display: inline-block;
  margin-bottom: 10px;
}
.less-more_link {
  max-width: 396px;
  margin: 0 auto;
  display: block;
  padding: 12px;
  margin-bottom: 34px;
  background: #421dd8;
  border: 2px solid #421dd8;
  border-radius: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.reviews {
  margin-bottom: 48px;
  overflow: hidden;
}
.reviews_title {
  padding: 0 16px;
  font-family: "Ubuntu Condensed";
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: #111111;
}
.reviews_list {
  margin-bottom: 55px;
  /* display: grid;
  min-width: 150%;
  margin-left: -75%;
  margin-bottom: 55px;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px; */
}
.reviews_list .slick-track {
  display: flex;
  gap: 16px;
}
.subscriptions_list .slick-track {
  display: flex;
  gap: 32px;
}
.reviews_list .slick-list {
  height: 220px;
  overflow: visible !important;
}
.reviews_item {
  min-width: 0;
  max-width: 347px;
  display: flex;
  flex-direction: column;
  padding: 14px 34px;
  background: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 1px 10px rgba(141, 154, 206, 0.5);
}
.reviews_item hr {
  border-radius: 5px;
  height: 2px;
  background: #8d9ace;
  border: none;
  margin-top: 0;
}
.reviews_author {
  padding-bottom: 2px;
  margin: 0;
  font-family: "Ubuntu Condensed";
  font-size: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: #111111;
}
.reviews_text {
  flex: 1;
  font-size: 13px;
  line-height: 16px;
  color: #111111;
  margin: 10px 0;
  height: 112px;
}
.reviews_time {
  position: relative;
  align-self: flex-end;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
.reviews_time:first-of-type {
  display: grid;
  float: right;
}
.reviews_time::after {
  position: absolute;
  right: -15px;
  bottom: 4px;
  display: block;
  content: "";
  width: 12px;
  height: 9px;
  background-image: url("../images/double_check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
/* video player */
.reviews_video {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
  background-repeat: no-repeat;
  background-size: 110% 100%;
  background-position: center center;

  z-index: 0;
}
.video-container {
  max-width: 650px;
  height: max-content !important;
}
.video-player {
  width: 100%;
  filter: blur(0);
}
.video-player[poster] {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.video-controls {
  position: absolute;
  width: 100%;
  height: max-content;
  bottom: 0;
  padding: 0 15px 13px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 4;

  display: none;
}
.video-controls_btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-controls_btns_plays {
  display: flex;
  align-items: center;
}
.video_play_btn .pause,
.video_play_btn .play {
  padding-right: 10px;
}
.video_play_btn .play-show,
.video_play_btn .pause-show {
  width: 20px;
  height: 20px;
}
.duration-video {
  color: #fff;
  font-size: 10px;
}
.video-wrapper_btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.volume-box_video {
  position: relative;
  margin-right: 20px;
}
.fullscreen-box_video {
  margin-right: 15px;
}
.volume-video,
.volume-video-none {
  width: 15px;
  height: 15px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.volume-video.active,
.volume-video-none.active {
  display: flex;
}
.progress_volume-video {
  display: none;
  position: absolute;
  top: -38px;
  left: -20px;
}
#volume-video_range {
  margin: 0;
  transform: rotate(-90deg);
  width: 50px;
  background: #fff;
  height: 15px;
  padding: 5px;
}
.fullscreen-box_video {
  display: flex;
  width: 14px;
  height: 14px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.more-box_video {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: relative;
}
.more-alert_video {
  position: absolute;
  width: max-content;
  top: -35px;
  right: 5px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;

  display: none;
}
.more-alert_video span {
  font-size: 12px;
}

#progress-video {
  margin-top: 4px !important;
  margin-bottom: 6px !important;
}
#progress-video-container input[type="range"]::-webkit-slider-thumb,
#progress-video-container input[type="range"]::-moz-range-thumb {
  height: 0;
  width: 0;
}
#progress-video-container input[type="range"],
#progress-video-container input[type="range"]::-webkit-slider-runnable-track,
#progress-video-container input[type="range"]::before,
#progress-video-container input[type="range"]::-moz-range-track,
#progress-video-container input[type="range"]::-moz-range-progress {
  height: 3px;
}
#progress-video-container input[type="range"]::-webkit-slider-runnable-track,
#progress-video-container input[type="range"]::-moz-range-track {
  background-color: #565656;
}
#progress-video-container input[type="range"]::-moz-range-progress,
#progress-video-container input[type="range"]::before {
  background-color: #f4f4f4;
}
/* END video player */
.reviews_video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  z-index: 2;
}
.reviews_constitutor-info {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  color: #111111;
}
.reviews_constitutor-goals {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
.reviews_constitutor-title {
  line-height: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}
.reviews_constitutor-list {
  margin-left: 10px;
  margin-bottom: 20px;
}
.reviews_constitutor-item {
  position: relative;
  padding-left: 14px;
  font-size: 13px;
}
.reviews_constitutor-link {
  max-width: 396px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 12px;
  background: #421dd8;
  border: 2px solid #421dd8;
  border-radius: 15px;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.trial {
  padding: 0 16px;
}
.try_free {
  margin-bottom: 0;
  padding-bottom: 50px;
}
.trial-title {
  font-size: 32px;
  line-height: 37px;
  margin: 1.5em 0 1em;
}
.reviews h2 {
  margin-left: 34px;
  margin-top: 0;
}
/* .trial_wrap {
} */
.trial_list {
  position: relative;
  list-style-type: none;
  padding-left: 0;
}
.trial_list:after {
  content: "flickity";
  display: none;
}
.trial_item {
  cursor: pointer;
  height: auto;

  padding-right: 12px;
}
.trial_title {
  display: inline-block;
  white-space: nowrap;
  font-size: 13px;
  line-height: 16px;
  color: rgba(17, 17, 17, 0.7);
  margin: 0;
}
.trial_title.active {
  color: #421dd8;
  -webkit-text-stroke-width: 0.4px;
}
.trial_nested-list {
  position: absolute;
  left: 0;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  display: none;
}
.trial_nested-list_mobile {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 13px;
  line-height: 13px;
  font-size: 13px;
  color: #111111;
  white-space: nowrap;
  cursor: pointer;
  justify-content: start;
}
.trial_nested-list_mobile li {
  margin-right: 10px;
}
.trial_nested-list_mobile .active {
  color: #421dd8;
  -webkit-text-stroke-width: 0.4px;
}
.trial_item > ul > li {
  line-height: 13px;
  font-size: 13px;
  color: #111111;
  white-space: nowrap;
}
.trial_item > ul > li + li {
  margin-left: 12px;
}
.trial_item > ul > li.show-active {
  color: #421dd8;
  font-weight: bold;
}
.trial_description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.trial_description-title {
  display: none;
}
.trial_description-text {
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.trial_description-text > p,
.trial_text {
  font-size: 13px;
  line-height: 16px;
  margin: 10px 0;
}
.trial_description-text > p > span {
  display: block;
}
.trial_audio {
  width: 100%;
  height: auto;
}
.trial_text-wrap {
  font-size: 13px;
  line-height: 16px;
  color: #111111;
}
.trial_text {
  font-size: 13px;
  line-height: 16px;
  display: none;
}
.trial_text-show {
  display: block;
}
.trial_btn-show {
  margin: 0 auto;
  margin-bottom: 16px;
  background-color: transparent;
  border: 0;
  transform: rotate(45deg);
  cursor: pointer;
}
.trial_btn-show.trial_btn-close {
  transform: rotate(0);
}
.trial_link {
  max-width: 396px;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 12px;
  background: #421dd8;
  border: 2px solid #421dd8;
  border-radius: 15px;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.social-list {
  display: flex;
  justify-content: center;
  align-self: center;
}
.social-list_item + .social-list_item {
  margin-left: 16px;
}
.subscriptions_list .slick-list {
  height: 100%;
  min-width: 350px;
}
.subscriptions_list,
.subscriptions_list .slick-list {
  width: 350px;
}
@keyframes bg_item_1 {
  33% {
    top: 40vh;
    left: 60vw;
    transform: rotate(45deg);
  }
  66% {
    top: 60vh;
    left: -60vw;
    transform: rotate(45deg);
  }
  100% {
    top: -50vh;
    left: -45vw;
  }
}
@keyframes bg_item_2 {
  33% {
    top: 70vh;
    left: -35vw;
    transform: rotate(45deg);
  }
  66% {
    top: -80vh;
    left: 5vw;
    transform: rotate(20deg);
  }
  100% {
    top: 50vh;
    left: 35vw;
  }
}

@media screen and (min-width: 660px) {
  .intro {
    padding: 0 34px;
  }
  .about_wrap {
    position: relative;
    padding: 0 34px;
  }
  .about__image::before {
    width: 40px;
    height: 13px;
  }
  .less-more {
    padding: 0 34px;
  }
  .reviews_constitutor-info {
    padding: 0 34px;
  }
  .reviews_video {
    max-width: 700px;
    min-width: 0;
    margin: 0 auto;
  }
  .trial {
    padding: 0 34px 50px;
  }
  .reviews_video video {
    border-radius: 20px;
    cursor: pointer;
  }
  .reviews_constitutor-goals {
    margin-top: 20px;
  }
  .about__image {
    width: 427px;
  }
  .intro_link-wrap > a {
    width: 396px;
  }
  .bg_item_3 {
    bottom: 8%;
    left: -45vw;
    animation-name: bg_item_3;
  }
  .bg_item_4 {
    bottom: 10%;
    left: 35vw;
    animation-name: bg_item_4;
  }

  @keyframes bg_item_3 {
    0% {
      bottom: 8%;
      left: -45vw;
    }
    33% {
      bottom: 7.6%;
      left: 60vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: 7%;
      left: -60vw;
      transform: rotate(45deg);
    }
    100% {
      bottom: 8%;
      left: -45vw;
    }
  }
  @keyframes bg_item_4 {
    0% {
      bottom: 10%;
      left: 35vw;
    }
    33% {
      bottom: 10.3%;
      left: -35vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: 11.3%;
      left: 5vw;
      transform: rotate(20deg);
    }
    100% {
      bottom: 10%;
      left: 35vw;
    }
  }
}

@media screen and (min-width: 960px) {
  .intro {
    padding: 144px 0;
    margin-bottom: 54px;
  }
  .banner_main_width {
    width: 950px;
    margin: auto;
  }
  .intro_wrap {
    padding-top: 0;
    margin-bottom: 0;
  }
  .intro_wrap::before {
    top: -144px;
    right: -14.5%;
    left: auto;
    min-width: 336px;
    min-height: 468px;
    background-image: url("../images/intro.png");
  }
  .intro_title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    font-size: 64px;
    line-height: 74px;
  }
  .intro_title > span {
    width: 100%;
    display: block;
    font-size: 47px;
    line-height: 54px;
    order: 1;
  }
  .intro_title::after {
    display: block;
    content: "";
    margin-left: 25px;
    height: 3px;
    width: 18%;
    background: #111111;
    border-radius: 2px;
    z-index: 2;
  }
  .intro_subtitle {
    max-width: 420px;
    margin: 0;
    margin-bottom: 32px;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
  .intro_subtitle > span {
    display: inline;
  }
  .intro_anxiety-title {
    text-align: left;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 37px;
  }
  .slider_buttons {
    display: block;
  }
  .intro_link-wrap > a {
    display: inline-block;
    padding: 16px 117px 16px 43px;
    letter-spacing: 0.1em;
    background-position: 90% center;
    white-space: nowrap;
  }
  .subscriptions {
    padding: 0 5%;
    margin: 60px 0;
  }
  .subscriptions p,
  .subscriptions p span {
    font-size: 16px;
  }
  .subscriptions_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .subscriptions_title {
    width: 25%;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 37px;
  }
  .subscriptions_list {
    margin-bottom: 0;
    height: 540px;
    width: 920px;
  }
  .subscriptions_list .slick-list {
    width: 920px;
    display: flex;
    align-items: center;
  }
  .subscriptions_item {
    position: relative;
    padding: 206px 32px 20px 32px;
    background-image: url("../images/logo-vector.svg");
    background-position: 15% 25%;
    width: 272px;
    background-size: 100px;
    border-radius: 45px;
  }
  .subscriptions_item br {
    display: block;
  }
  .subscriptions_item-title {
    width: 100%;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
  }
  .subscriptions_item button {
    text-align: left;
    padding: 13px 26px;
    background-image: url("../images/white_arrow.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    transition-delay: 0.2s;
  }
  .subscriptions_item:hover {
    box-shadow: 0 0 20px rgba(141, 154, 206, 0.5);
  }
  .subscriptions_item:hover button {
    opacity: 1;
  }
  .subscriptions_item:hover::before {
    transform: rotate(180deg);
  }
  .subscription_cnt .ta_center {
    margin-top: 0;
  }
  .subscriptions > p {
    text-align: center;
  }
  .subscriptions_price-month {
    display: block;
  }
  .about {
    display: flex;
    align-items: center;
    gap: 40px;
    text-align: right;
    flex-direction: row-reverse;
    width: 880px;
    margin: auto;
    margin-bottom: 84px;
  }
  .about__image::before {
    left: auto;
    top: auto;
    right: 414px;
    bottom: 27px;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    transform: rotate(0);
  }
  /* .about::before {
    order: 1;
    min-width: 450px;
    width: 50%;
    height: 512px;
    background-image: url("../images/photo.png");
    background-size: contain;
    background-position: center;
  } */
  .about_wrap {
    padding: 0;
  }
  .about_title {
    font-size: 40px;
    line-height: 46px;
  }
  .about_description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .less-more {
    width: 880px;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
  }
  .less-more_title {
    font-size: 32px;
    line-height: 37px;
  }
  .less-more_subtitle {
    margin: 20px 0;
    font-size: 16px;
  }
  .less-more_subtitle p {
    margin-top: 20px;
  }
  .less-more_subtitle > p > span {
    display: block;
  }
  .less-more_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
  }
  .less-more_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    margin-left: 0;
  }
  .less-more_item::before {
    position: static;
    transform: translateY(0);
  }
  .less-more_item-title {
    text-align: center;
  }
  .less-more_item > ul {
    text-align: left;
    margin-top: auto;
  }
  .less-more_item > ul > li,
  .less-more_item > ul > li > ul > li {
    position: relative;
    padding-left: 0px;
    margin-bottom: 10px;
  }
  .less-more_item > ul > li > span {
    display: inline-block;
    margin-bottom: 10px;
  }
  .less-more_item > ul > li > ul > li {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .less-more_link {
    display: inline-block;
    padding: 13px 26px;
    margin-bottom: 0;
  }
  .reviews {
    margin: 0 2.5%;
  }
  .reviews_title {
    padding: 0;
    font-size: 32px;
    line-height: 37px;
  }
  /* .reviews_list {
    gap: 1%;
  } */
  .reviews_constitutor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
  }
  .reviews h2 {
    margin-left: 0px;
  }
  .reviews_video {
    background-size: 100% 100%;
    width: 100%;
    height: auto;
  }
  .reviews_constitutor-info {
    padding: 0;
  }
  .reviews_constitutor-link {
    margin: 0 auto;
    display: inline-block;
    padding: 13px 26px;
    width: auto;
  }
  .trial {
    margin: 0 2.5%;
    padding: 0;
    padding-bottom: 120px;
  }
  .trial-title {
    font-size: 32px;
    line-height: 37px;
  }
  .trial_wrap {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2%;
  }
  .trial_list {
    flex-direction: column;
    padding: 0;
  }
  .trial_list:after {
    content: "";
  }
  .trial_item {
    padding: 16px 30px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    margin-bottom: 16px;
  }
  .trial_item + .trial_item {
    margin-left: 0;
  }
  .trial_title {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .trial_title.active {
    margin-bottom: 16px;
    color: #111111;
    transition: margin-bottom 0.4s;
    font-size: 13px;
  }
  .trial_title::after {
    display: block;
    content: "";
    width: 32px;
    height: 8px;
    background-image: url("../images/Стрелка.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: transform 0.3s;
  }
  .trial_title.active::after {
    transform: rotate(180deg);
    transition: transform 0.3s;
  }
  .trial_nested-list {
    position: sticky;
    overflow: hidden;
    display: block;
    padding-left: 0;
    visibility: hidden;
    max-height: 0;
    opacity: 0;
  }
  .trial_title.active,
  .trial_nested-list.active {
    visibility: visible;
    opacity: 1;
  }
  .trial_nested-list.active {
    padding-top: 0;
    animation-name: drop;
    animation-duration: 0.4s;
    transition: all 0.4s cubic-bezier(0, 0, 1, 1);
    max-height: max-content;
  }
  @keyframes drop {
    0% {
      max-height: 0;
      opacity: 0;
    }
    50% {
      opacity: 0.5;
      max-height: 50%;
    }

    100% {
      max-height: max-content;
      opacity: 1;
    }
  }
  .trial_item > ul > li {
    position: relative;
    padding-left: 16px;
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 20px;
  }
  .trial_item > ul > li + li {
    margin-left: 0;
  }
  .trial_item > ul > li.show-active {
    line-height: 16px;
    font-size: 12.5px;
    color: #111111;
  }
  .trial_item > ul > li.show-active p {
    min-width: 200px;
  }
  .trial_item > ul > li::before {
    position: absolute;
    left: 0;
    top: 5px;
    display: block;
    content: "";
    width: 12px;
    height: 9px;
    background-image: url("../images/double_check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  .trial_item > ul > li.show-active::before {
    opacity: 1;
    width: 10px;
    height: 8px;
    transition: opacity 0.4s;
  }
  .trial_section_description {
    position: relative;
  }
  .trial_description {
    height: 100%;
    padding: 16px 22px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 2px 100px rgba(114, 100, 170, 0.25);
    border-radius: 20px;
  }
  .trial_section_form {
    position: absolute;
    bottom: -60px;
    left: 0;
  }
  .trial_description-title {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #111111;
    margin-top: 0;
    font-weight: bold;
  }
  /* .trial_list-reference {
  }
  .trial_list-diary {
  } */
  .trial_text {
    display: block;
  }
  .trial_btn-show {
    display: none;
  }
  .trial_link {
    margin-left: 0 !important;
    margin-top: 16px;
    display: inline-block;
    padding: 13px 26px;
  }
  .reviews_constitutor-goals {
    margin-top: 0px;
  }
  .about__image {
    min-width: 450px;
    height: 512px;
  }
  .bg_item {
    width: 1000px;
    height: 500px;
  }

  .bg_item_3 {
    bottom: 4%;
    left: -45vw;
    animation-name: bg_item_3;
  }
  .bg_item_4 {
    bottom: 8%;
    left: 35vw;
    animation-name: bg_item_4;
  }

  @keyframes bg_item_3 {
    0% {
      bottom: 4%;
      left: -45vw;
    }
    33% {
      bottom: 3.7%;
      left: 60vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: 3%;
      left: -60vw;
      transform: rotate(45deg);
    }
    100% {
      bottom: 4%;
      left: -45vw;
    }
  }
  @keyframes bg_item_4 {
    0% {
      bottom: 8%;
      left: 35vw;
    }
    33% {
      bottom: 8.3%;
      left: -35vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: 9.3%;
      left: 5vw;
      transform: rotate(20deg);
    }
    100% {
      bottom: 8%;
      left: 35vw;
    }
  }
  .reviews_constitutor-item {
    font-size: 16px;
  }
  .slider_sliders .slick-dots button::before {
    color: rgba(242, 242, 242, 0.3);
  }
  .trial_nested-list_mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .intro_anxiety {
    margin-bottom: 25px;
  }
  .intro_anxiety-slider {
    height: 260px;
  }
  .slider_sliders {
    width: 1100px;
  }
  .slider_sliders .slick-list {
    margin-top: 16px;
    padding-top: 0px;
  }
  .slider_sliders .slick-list .slick-track {
    height: 228px;
  }
  .slider_sliders .slick-slider .slick-dots {
    top: -15px;
  }
  .it_bothers_me_item > span {
    display: inline-flex;
    padding: 16px;
    background: rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0px 1px 15px rgba(17, 17, 17, 0.15));
    border-radius: 100px;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: #111111;
    margin: 14px;
    width: auto;
  }
  .intro {
    padding: 144px 0;
  }
  .main_cnt {
    padding-bottom: 20px;
  }
  .slider_prev {
    left: -80px;
  }
  .slider_sliders .slick-list {
    width: 100%;
  }
  .slider_next {
    right: -80px;
  }
  .subscriptions {
    padding: 0 134px;
  }
  .subscriptions_wrap {
    flex-direction: row;
  }
  .subscriptions_title {
    text-align: right;
    top: -40px;
  }
  .subscriptions > p {
    margin-right: 15%;
    text-align: end;
  }
  .reviews {
    margin: 0 12.5%;
  }
  .trial {
    margin: 0 12%;
  }
  .trial_link {
    margin-left: 21.5%;
  }
  .subscriptions_list .slick-list {
    width: 920px;
    height: 540px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .subscriptions_title {
    margin-top: 20px;
  }

  .subscription_cnt .ta_center {
    margin-top: 0;
  }
  .bg_item {
    width: 2000px;
    height: 1000px;
  }
  .bg_item_3 {
    bottom: -14%;
    left: -45vw;
    animation-name: bg_item_3;
  }
  .bg_item_4 {
    bottom: -17%;
    left: 35vw;
    animation-name: bg_item_4;
  }

  @keyframes bg_item_3 {
    0% {
      bottom: -14%;
      left: -45vw;
      transform: rotate(-45deg);
    }
    33% {
      bottom: -13.7%;
      left: 60vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: -13%;
      left: -60vw;
      transform: rotate(45deg);
    }
    100% {
      bottom: -14%;
      left: -45vw;
      transform: rotate(-45deg);
    }
  }
  @keyframes bg_item_4 {
    0% {
      bottom: -17%;
      left: 35vw;
      transform: rotate(-45deg);
    }
    33% {
      bottom: -17.3%;
      left: -35vw;
      transform: rotate(45deg);
    }
    66% {
      bottom: -18%;
      left: 5vw;
      transform: rotate(20deg);
    }
    100% {
      bottom: -17%;
      left: 35vw;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (max-width: 960px) {
  .bg_item_3 {
    display: none;
  }
  .bg_item_4 {
    display: none;
  }
  .intro_anxiety-title {
    margin-bottom: 0;
  }
  .it_bothers_me_item > span {
    width: 90%;
  }
  .slick-track {
    width: 100%;
  }
  .slider_sliders .slick-list .slick-track {
    margin-top: 20px;
  }
  .subscriptions_title {
    margin-bottom: 12px;
  }
  .subscriptions_list {
    width: 100%;
    grid-template-columns: 1fr;
    height: 390px;
    margin-bottom: 0;
  }
  .subscriptions_list .slick-list.draggable {
    width: 100%;
    min-width: 350px;
    max-width: 850px;
  }
  .subscriptions_list .slick-list.draggable {
    padding-top: 20px !important;
  }
  .subscriptions_item.slick-slide {
    height: 350px;
  }
  .subscription_cnt .ta_center {
    margin-top: 0;
  }
}

@media (min-width: 450px) and (max-width: 660px) {
  .it_bothers_me_item > span {
    width: 85%;
  }
}
@media screen and (max-width: 450px) {
  .it_bothers_me_item > span {
    width: 80%;
  }
}
